/* h1 {
  color: blue;
}

.App {
  height: 100vh;
  width: 100vw;
}

.main__container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  overflow: auto;
}

.main__pages::-webkit-scrollbar {
  display: none;
}

.main__pages {
  overflow: scroll;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.App {
  height: 100vh;
  width: 100vw;
}

.main__container {
  overflow: auto;
}

.main__pages {
  flex: 1;
  overflow: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start; /* change from center to start so cards align top */
}
